<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<a href="/#!/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Home</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown" dropdown on-toggle="toggled(open)">
				<a class="dropdown-toggle" dropdown-toggle>
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
                    <li>
                        <a href="/#!/admin">Technician Panel</a>
                    </li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
