<section data-ng-controller="HomeController" style="margin-top: 20vh;"></section>
    <div class="container" style="vertical-align: middle">
        <div class="title" style="text-align: center; margin-top: 2em; margin-bottom: 5em;">
            <h1>Welcome to</h1>
            <img src="static/img/logo.png" style="align: middle; width: 85%;">
        </div>
        <div class="functions" style="text-align: center;">
            <ul style="list-style-type: none;">
                <li><a href="/#!/walkins" style="margin-left:-20px; font-size: 30px;" class="function btn btn-primary btn-lg btn-block">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>
