<section data-ng-controller="HomeController"></section>
    <div class="title" style="text-align: center; margin-top: 1em; margin-bottom: 1em;">
        <h1>Student Technology Suport</h1>
        <h4>Integrated Sysyem for walkin, checkin, and administration</h4>
    </div>
    <div class="functions" style="text-align: center;">
        <ul style="list-style-type: none;">
            <li><a href="/#!/walkins" class="function btn btn-primary btn-lg btn-block">Walk-in</a></li>
        </ul>
    </div>
</section>
