<section data-ng-controller="HomeController" style="margin-top: 20vh;"></section>
    <div class="container">
        <div class="title" style="text-align: center; margin-top: 2em; margin-bottom: 5em;">
            <h1>Welcome to Student Technology Support!</h1>
        </div>
        <div class="functions" style="text-align: center;">
            <ul style="list-style-type: none;">
                <li><a href="/#!/walkins" style="margin-left:-20px;" class="function btn btn-primary btn-lg btn-block">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>
