<section data-ng-controller="HomeStaffController" style="margin-top: 20vh;">
    <div class="container">
        <div class="title" style="text-align: center; margin-top: 2em; margin-bottom: 5em;">
            <h1>Welcome to</h1>
            <img src="static/img/logo.png" style="align: middle; width: 85%;">
        </div>
        <div class="functions" style="text-align: center;">
            <ul style="list-style-type: none;">
                <li><a href="/#!/signin" style="margin-left:-20px; font-size: 24px;" class="function btn btn-primary btn-lg btn-block">Technician/Admin Sign in</a></li>
            </ul>
        </div>
    </div>
</section>
