.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.functions{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.functions .function{

    margin-top: 1em;
    margin-bottom: 1em;
}
