<section class="app-container">
  <div class="row content-container">
    <header ng-include="'/modules/technician/client/views/header.client.view.html'" class="row content-container"></header>
    <div class="container-fluid" style="min-height: 97vh;">
      <div class="side-body padding-top">
        <div class="row no-margin-bottom" ui-view></div>
      </div>
    </div>
  </div>
  <footer class="app-footer">
    <div class="wrapper">
      <span class="pull-right">v2.0 <a href="https://github.com/henryYHC/STS-Integrated-System"><i class="fa fa-code-fork"></i></a></span>
      Copyright &copy; 2015-2016 by Emory Student Tech Support.
    </div>
  </footer>
</section>
