<section data-ng-controller="DeskTrackerController" ng-init="initTaskOptions()">
    <div class="footer">
        <div class="container">
            <div class="dropup pull-right deskTracker" dropdown on-toggle="toggled(open)">
                <div class="dropdown-toggle" dropdown-toggle>
                    <span ng-show="submitted" style="color:green;">
                        <span class="glyphicon glyphicon glyphicon-ok-sign"></span>
                        Submitted
                    </span>
                    <span ng-show="!submitted">
                        <span class="glyphicon glyphicon-file"></span>
                        Library Guidance <span class="caret"></span>
                    </span>
                </div>
                <ul class="dropdown-menu" role="menu" style="font-size: 16px;">
                    <li ng-show="isAdmin"><a href="/#!/desktask/stats">Statistics</a></li>
                    <li class="divider" ng-show="isAdmin"></li>
                    <li ng-repeat="task in tasks"><a ng-click="submitTask(task)" style="padding: 10px 20px;">{{task}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
