<section data-ng-controller="AdminController">
    <div class="container">
        <div class="title" style="text-align: center; margin-top: 2em; margin-bottom: 4em;">
            <h1>STS Admin Panel</h1>
            <h4>Customers come first!</h4>
        </div>
        <div class="functions" style="text-align: center;">
            <ul style="list-style-type: none;">
                <li><a href="/#!/admin/walkins" style="margin-left:-20px;" class="function btn btn-primary btn-lg btn-block">View Walk-in Queue</a></li>
                <li><a href="/#!/admin/walkins-list" style="margin-left:-20px;" class="function btn btn-primary btn-lg btn-block">View Walk-in Listing</a></li>
                <li ng-show="isAdmin" class="dropdown function btn btn-primary btn-lg btn-block" dropdown on-toggle="toggled(open)" style="margin-left: -20px;">
                    <div class="dropdown-toggle" dropdown-toggle>User Handling for Admin <b class="caret"></b></div>
                    <ul class="dropdown-menu" style="width: 100%;">
                        <li><a href="/#!/signup">Register New User</a></li>
                        <li><a href="/#!/password/reset">Reset user password</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
