<section data-ng-controller="AdminController">
    <div class="container">
        <div class="title" style="text-align: center; margin-top: 2em; margin-bottom: 4em;">
            <h1>STS Admin Panel</h1>
            <h4>Customers come first!</h4>
        </div>
        <div class="functions" style="text-align: center;">
            <ul style="list-style-type: none;">
                <li><a href="/#!/admin/walkins" style="margin-left:-20px;" class="function btn btn-primary btn-lg btn-block">View Walkin Queue</a></li>
                <li><a href="/#!/admin/walkins-list" style="margin-left:-20px;" class="function btn btn-primary btn-lg btn-block">View Walkin Listing</a></li>
            </ul>
        </div>
    </div>
</section>
