<section id="modal">
    <div class="modal-header">
        <h2 class="modal-title">
            Walk-in Information
            <span class="label label-success" style="font-size: 13px; margin-left: 1em;" ng-show="walkin.isActive">Active</span>
            <span class="label label-danger" style="font-size: 13px; margin-left: 1em;" ng-show="!walkin.isActive">Inactive</span>
            <span class="pull-right" style="font-size: 14px; font-weight: 500;">
                <font style="font-weight: 300;">Created at </font>{{(walkin.created | date:'short') || 'N/A'}} <br>
                <font style="font-weight: 300;">Updated at </font>{{(walkin.updated | date:'short') || 'N/A'}}
            </span>
        </h2>
    </div>

    <div class="modal-body" style="height: 80vh; overflow: auto;">
        <div class="col-md-12" style="font-size: 11.5px;">
            <h4>Customer information&emsp;
                <span class="label label-warning" style="font-size: 12px;" ng-show="!walkin.user.verified">User verification needed</span>
                <button class="btn btn-warning btn-xs" style="margin-top: 12px; margin-left: 0.5em;" ng-show="!walkin.user.verified" ng-click="walkin.user.verified=true;">Verify</button>

                <button class="pull-right btn btn-xs btn-primary" style="margin-top: -2px;" ng-click="editUser=!editUser;updateUser();">
                    <span class="glyphicon glyphicon-pencil"><span ng-show="editUser">&nbsp;Done</span></span>
                </button>
            </h4><hr/>

            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="netid">NetID:</label>
                    <div class="col-sm-9" id="netid" style="margin-top: 8px;">{{walkin.user.username}}</div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="name">Name:</label>
                    <div class="col-sm-9" id="name" style="margin-top: 8px;">
                        <div id="name-display" ng-show="!editUser"> {{walkin.user.displayName}} </div>
                        <div id="name-edit" ng-show="editUser">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="walkin.user.firstName" placeholder="First name">
                                <input type="text" class="form-control" data-ng-model="walkin.user.lastName" placeholder="Last name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="phone">Phone:</label>
                    <div class="col-sm-9" id="phone" style="margin-top: 8px;">
                        <div id="phone-display" ng-show="!editUser">
                            {{walkin.user.phone}}
                        </div>
                        <div id="phone-edit" ng-show="editUser">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="walkin.user.phone" placeholder="Phone number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="location">Housing:</label>
                    <div class="col-sm-9" id="location" style="margin-top: 8px;">
                        <div id="location-display" ng-show="!editUser">
                            {{walkin.user.location}}
                        </div>
                        <div id="location-edit" ng-show="editUser" ng-init="initLocation();">
                            <select id="locationI" class="form-control" data-ng-model="walkin.user.location">
                                <option ng-repeat="option in locationOptions" value="{{option}}" ng-selected="option == walkin.user.location;">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="font-size: 11.5px;">
            <h4>Device information</h4><hr/>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="deviceT">Device Type:</label>
                    <div class="col-sm-9" id="deviceT" style="margin-top: 8px;">
                        <div id="deviceType-display" ng-show="!editDeviceType">
                            {{walkin.deviceCategory}}
                            <button class="pull-right btn btn-xs btn-primary" ng-click="editDeviceType=!editDeviceType;" style="margin-top: -2px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <div id="deviceType-edit" ng-show="editDeviceType" ng-init="initDeviceType();">
                            <select id="deviceT" class="form-control" data-ng-model="walkin.deviceCategory" ng-change="editDeviceType=!editDeviceType;">
                                <option ng-repeat="option in deviceTypeOptions" value="{{option}}" ng-selected="option == walkin.deviceCategory;">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" ng-show="walkin.deviceCategory!='Other';">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="deviceI">Device info:</label>

                    <div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.deviceCategory!='Other' && (walkin.deviceCategory == 'Gaming System' || walkin.deviceCategory == 'TV/Media Device')">
                        <div id="deviceInfo-display" ng-show="!editDeviceInfo">
                            {{walkin.deviceType}}
                            <button class="pull-right btn btn-xs btn-primary" ng-click="editDeviceInfo=!editDeviceInfo;" style="margin-top: -2px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <div id="deviceInfo-edit" ng-show="editDeviceInfo" ng-init="initDeviceInfo();">
                            <select id="deviceI" class="form-control" data-ng-model="walkin.deviceType" ng-change="editDeviceInfo=!editDeviceInfo;">
                                <option ng-repeat="option in deviceInfoOptions" value="{{option}}" ng-selected="option == walkin.deviceType;">{{option}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.deviceCategory!='Other' && (walkin.deviceCategory == 'Computer' || walkin.deviceCategory == 'Phone/Tablet')">
                        <div id="deviceOS-display" ng-show="!editDeviceOS">
                            {{walkin.os}}
                            <button class="pull-right btn btn-xs btn-primary" ng-click="editDeviceOS=!editDeviceOS;" style="margin-top: -2px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <div id="deviceOS-edit" ng-show="editDeviceOS" ng-init="initDeviceOS();">
                            <select id="deviceI" class="form-control" data-ng-model="walkin.os" ng-change="editDeviceOS=!editDeviceOS;">
                                <option ng-repeat="option in deviceOSOptions" value="{{option}}" ng-selected="option == walkin.os;">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" ng-show="walkin.deviceCategory=='Other' || walkin.deviceType == 'Other' || walkin.os == 'Other'">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="other">Other info:</label>
                    <div class="col-sm-9" id="other" style="margin-top: 8px;">
                        <div id="other-display" ng-show="!editDeviceOther">
                            {{walkin.otherDevice || 'None'}}
                            <button class="pull-right btn btn-xs btn-primary" ng-click="editDeviceOther=!editDeviceOther;" style="margin-top: -2px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <div id="other-edit" ng-show="editDeviceOther">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="walkin.otherDevice">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="editDeviceOther=!editDeviceOther;">Done</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="problem">Problem description:</label>
                    <div class="col-sm-9" id="problem" style="margin-top: 8px;">
                        <div id="problem-display" ng-show="!editProblem">
                            <p style="height: 75px; overflow: auto;">{{walkin.description}}</p>
                            <button class="pull-right btn btn-xs btn-primary" ng-click="editProblem=!editProblem;" style="margin-top: -90px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <div ng-show="editProblem">
                            <textarea id="problem-edit" class="form-control" rows="2" data-ng-model="walkin.description"></textarea>
                            <button ng-click="editProblem=!editProblem;" class="btn btn-sm btn-primary pull-right">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="font-size: 11.5px;">
            <h4>
                Process information&emsp;<span class="label label-info" style="font-size: 10px;">{{walkin.status}}</span>
                <span class="pull-right" style="font-size: 14px;">
                    Started by {{walkin.serviceTechnician.displayName}}<br>
                    at {{(walkin.serviceStartTime | date:'short') || 'N/A'}}
                </span>
            </h4><hr/>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="resolutionType">Resolution type:</label>
                    <div class="col-sm-6" id="resolutionType" style="margin-top: 8px;">
                        <div id="resoultionType-select" ng-init="initResolutionType();">
                            <select id="resoultionType-s" class="form-control" data-ng-model="walkin.resolutionType">
                                <option ng-repeat="option in resolutionOptions" value="{{option}}" ng-selected="option == walkin.resolutionType">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3" id="ResolutionFunctions">
                        <button class="btn btn-sm btn-info" ng-click="toHouseCall();" ng-show="walkin.status != 'House call pending' && walkin.resolutionType == 'DooleyNet'">House call</button>
                    </div>
                </div>
            </div>
            <div class="form-horizontal" ng-show="walkin.resolutionType==='Other'">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="otherResolution">Resolution subject:</label>
                    <div class="col-sm-9">
                        <input id="otherResolution" type="text" class="form-control" data-ng-model="walkin.otherResolution">
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="resolution">Resolution:</label>
                    <div class="col-sm-9" id="resolution" style="margin-top: 8px;">
                        <div id="resolution-display" ng-show="!editResolution">
                            <p style="height: 75px; overflow: auto;" data-ng-bind="walkin.resolution || 'None'"></p>
                            <button class="pull-right btn btn-xs btn-primary" ng-click="editResolution=!editResolution;" style="margin-top: -90px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <div ng-show="editResolution">
                            <textarea id="resolution-edit" class="form-control" rows="2" data-ng-model="walkin.resolution"></textarea>
                            <button ng-click="editResolution=!editResolution;" class="btn btn-sm btn-primary pull-right">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="workNote">Work Note:</label>
                    <div class="col-sm-9" id="workNote" style="margin-top: 8px;">
                        <div id="workNote-display" ng-show="!editWorkNote">
                            <p style="height: 75px; overflow: auto;" data-ng-bind="walkin.workNote || 'None'"></p>
                            <button class="pull-right btn btn-xs btn-primary" ng-click="editWorkNote=!editWorkNote;" style="margin-top: -90px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <div ng-show="editWorkNote">
                            <textarea id="workNote-edit" class="form-control" rows="2" data-ng-model="walkin.workNote"></textarea>
                            <button ng-click="editWorkNote=!editWorkNote;" class="btn btn-sm btn-primary pull-right">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div data-ng-show="error" class="text-center text-danger pull-left" style="width:200px;imargin-left: 1em; font-size: 13px;"><strong data-ng-bind="error"></strong></div>
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-success" ng-click="resolve()">Resolve</button>
        <button class="btn btn-warning" ng-click="transfer()">Transfer</button>
        <button class="btn btn-default" ng-click="close()">Cancel</button>
    </div>

    <script type="text/javascript">
        $('input, select, textarea').click(function(){ $(this).focus(); });
    </script>
</section>
