<section data-ng-controller="AdminWalkinsController">
	<h1 id="test">STS Admin Panel - Walk in </h1>
    <hr/>
    <div class="container">
        <div class="col-md-2" ng-init="initQueue()">
            <h4>Process Queue<div class="pull-right"><a ng-click="initQueue()"><span class="glyphicon glyphicon-retweet" tooltip-placement="top" tooltip="Refresh"></div></a></h4>
            <table class="table table-hover">
                <tr>
                    <th>Order</th>
                    <th>Customer</th>
                </tr>
                <tr data-ng-repeat="queueItem in queueItems | orderBy: '-created' : true" data-ng-href="#">
                    <td>{{ $index + 1 }} <a ng-click="gotoWalkin({{queueItem._id}})"><span class="glyphicon glyphicon-log-in" tooltip-placement="top" tooltip="Goto"></span></a></td>
                    <td data-ng-bind="queueItem.user.displayName"></td>
                </tr>
            </table>
            <div class="alert alert-warning text-center" data-ng-hide="!queueItems.$resolved || queueItems.length">
                Nothin in queue!
            </div>
        </div>
        <div class="col-md-10" ng-init="initListing()">
            <h4>Walkin Listings</h4>
            <table class="table table-hover">   
                <tr>
                    <th>Actions</th>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>NetID</th>
                    <th>Device Type</th>
                    <th>Device Spec</th>
                    <th>Status</th>
                    <th>Last Update</th>
                    <th>Created Time</th>
                </tr>
                <tr data-ng-repeat="walkin in walkins | orderBy: '-created'" data-ng-href="#">
                    <td>
                        <a ng-click="viewWalkin({{walkin._id}})" data-toggle="modal" data-target="#WalkinView"><span class="glyphicon glyphicon-info-sign" tooltip-placement="top" tooltip="View"></span> </a>
                        <a ng-click="editWalkin({{walkin._id}})"<span class="glyphicon glyphicon-edit" tooltip-placement="top" tooltip="Edit"></span>  </a>
                        <a ng-click="deleteWalkin({{walkin._id}})"><span class="glyphicon glyphicon-trash" tooltip-placement="top" tooltip="Delete"></span></a>
                    </td>
                    <td data-ng-bind="walkin._id"></td>
                    <td data-ng-bind="walkin.user.displayName"></td>
                    <td data-ng-bind="walkin.user.username"></td>
                    <td data-ng-bind="walkin.deviceCategory"></td>
                    <td data-ng-bind="walkin.deviceType" ng-hide="walkin.deviceType=='N/A'"></td>
                    <td data-ng-bind="walkin.os" ng-hide="walkin.os=='N/A'"></td>
                    <td data-ng-bind="walkin.status"></td>
                    <td data-ng-bind="(walkin.updated | date:'short') || 'N/A'"></td>
                    <td data-ng-bind="(walkin.created | date:'short') || 'N/A'"></td>
                </tr>
            </table>
            <div class="alert alert-warning text-center" data-ng-hide="!walkins.$resolved || walkins.length">
                No Walk ins yet!
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="WalkinView.html">
        <div class="modal-header">
            <h2 class="modal-title">
                Walk in Information
                <p class="pull-right" style="font-size: 14px; font-weight: 500;" data-ng-bind="('Created at ' + (walkin.created | date:'short')) || 'N/A'"></p>
            </h2>

        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="netid">NetID:</label>
                    <div class="col-sm-9" id="netid" style="margin-top: 8px;">{{walkin.user.username}}</div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="name">Name:</label>
                    <div class="col-sm-9" id="name" style="margin-top: 8px;">{{walkin.user.displayName}}</div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="phone">Phone:</label>
                    <div class="col-sm-9" id="phone" style="margin-top: 8px;">{{walkin.user.phone}}</div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="location">Residenecn Hall:</label>
                    <div class="col-sm-9" id="location" style="margin-top: 8px;">{{walkin.user.location}}</div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="deviceT">Device Type:</label>
                    <div class="col-sm-9" id="deviceT" style="margin-top: 8px;">{{walkin.deviceCategory}}</div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="deviceI">Device info:</label>
                    <div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.deviceType!='N/A'">{{walkin.deviceType}}</div>
                    <div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.os!='N/A'">{{walkin.os}}</div>
                </div>
            </div>
            <div class="form-horizontal" ng-show="formData.otherDevice">
                <div class="form-group" style="text-align: left">
                    <label class="col-sm-3 control-label" for="other">Other info:</label>
                    <div class="col-sm-9" id="other" style="margin-top: 8px;">{{walkin.otherDevice}}</div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="problem">Problem description:</label>
                    <div class="col-sm-9" id="problem" style="margin-top: 8px;"><p style="height: 50px; overflow: auto;">{{walkin.description}}</p></div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="workNote">Work Note:</label>
                    <div class="col-sm-9" id="workNote" style="margin-top: 8px;"><p style="height: 50px; overflow: auto;" data-ng-bind="walkin.workNote || 'None'"></p></div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group" style="text-align: left;">
                    <label class="col-sm-3 control-label" for="resolution">Resolution:</label>
                    <div class="col-sm-9" id="resolution" style="margin-top: 8px;"><p style="height: 50px; overflow: auto;" data-ng-bind="walkin.resolution || 'None'"></p></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p class="pull-left" style="font-size: 14px; font-weight: 500;" data-ng-bind="'Last updated at ' + ((walkin.updated | date:'short') || 'N/A')"></p>
            <button class="btn btn-default" ng-click="close()">Cancel</button>
        </div>
    </script>
</section>
