<section data-ng-controller="AdminWalkinsQueueController">
	<div>
        <h2>STS Admin Panel - Walk-in<a href="/#!/admin" class="btn btn-sm btn-default pull-right">Back</a></h2><hr style="margin-top: 10px; margin-bottom: 10px"/>
    </div>
    <div class="container">
        <div class="col-md-3" ng-init="initQueue()" >
            <h4>Customers waiting<a class="pull-right" ng-click="initQueue()"><span class="glyphicon glyphicon-refresh" tooltip-placement="top" tooltip="Refresh"/></a></h4><hr/>
            <div style="height: 420px; overflow: auto">
                <table class="table table-hover" data-ng-show="queueItems.length">
                    <tr>
                        <th>Order</th>
                        <th>Customer</th>
                    </tr>
                    <tr data-ng-repeat="queueItem in queueItems | orderBy: '-created' : true" ng-click="quickviewWalkin(queueItem._id);">
                        <td>{{ $index + 1 }}   <span class="glyphicon glyphicon-cog pull-right" tooltip-placement="top" tooltip="helped by {{queueItem.serviceTechnician.displayName}}" ng-show="queueItem.status=='Work in progress'"/></td>
                        <td>{{queueItem.user.displayName}}<span class="glyphicon glyphicon-info-sign pull-right" tooltip-placement="top" tooltip="{{(queueItem.created | date:'shortTime') || 'N/A'}}"></span></td>
                    </tr>
                </table>
                <div class="alert alert-info text-center" data-ng-hide="queueItems.length">
                    <span class="glyphicon glyphicon-exclamation-sign"/> Nothing in queue!
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h4>
                Quick View &emsp;
                <span class="label label-success" style="font-size: 12px;" ng-show="quickWalkin && quickWalkin.status=='Work in progress'">Work in progress</span>
                <span class="label label-info" style="font-size: 12px;" ng-show="quickWalkin && quickWalkin.status=='In queue'">In queue</span>
                <div class="pull-right" ng-hide="!quickWalkin">
                    <button class="btn btn-md btn-primary" ng-click="serviceWalkin(quickWalkin._id)">Begin Service</button>
                </div>
            </h4>
            <hr/>
            <div class="col-md-6" style="font-size: 12px;" ng-hide="!quickWalkin">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="1">NetID:</label>
                        <div class="col-sm-9" id="1" style="margin-top: 8px;">{{quickWalkin.user.username || 'N/A'}}</div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="2">Name:</label>
                        <div class="col-sm-9" id="2" style="margin-top: 8px;">{{quickWalkin.user.displayName || 'N/A'}}</div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="3">Device type:</label>
                        <div class="col-sm-9" id="3" style="margin-top: 8px;">{{quickWalkin.deviceCategory || 'N/A'}}</div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="4">Device info:</label>
                        <div class="col-sm-9" id="4" style="margin-top: 8px;" ng-show="quickWalkin.deviceType!='N/A'">{{quickWalkin.deviceType || 'N/A'}}</div>
                        <div class="col-sm-9" id="4" style="margin-top: 8px;" ng-show="quickWalkin.os!='N/A'">{{quickWalkin.os}}</div>
                    </div>
                </div>
                <div class="form-horizontal" ng-show="formData.otherDevice">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="5">Other info:</label>
                        <div class="col-sm-9" id="5" style="margin-top: 8px;">{{quickWalkin.otherDevice || 'N/A'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="font-size: 12px;" ng-hide="!quickWalkin">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="7">Problem:</label>
                        <div class="col-sm-9" id="7" style="margin-top: 8px;"><p style="height: 50px; overflow: auto;">{{quickWalkin.description || 'N/A'}}</p></div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="8">Work note:</label>
                        <div class="col-sm-9" id="8" style="margin-top: 8px;"><p style="height: 50px; overflow: auto;">{{quickWalkin.workNote || 'N/A'}}</p></div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info text-center" ng-show="!queueIquickWalkin" ng-hide="quickWalkin">
                <span class="glyphicon glyphicon-exclamation-sign"/> Please click any queue item to view
            </div>
        </div>

    <script type="text/ng-template" id="WalkinView.html">

    </script>
</section>
