<section data-ng-controller="AdminWalkinsController">
	<div>
        <h2>STS Admin Panel - Walk in </h2><hr/>
    </div>
    <div class="container">
        <div class="col-md-3" ng-init="initQueue()" >
            <h4>Process Queue<div class="pull-right"><a ng-click="initQueue()"><span class="glyphicon glyphicon-refresh" tooltip-placement="top" tooltip="Refresh"></div></a></h4>
            <div style="height: 420px; overflow: auto">
                <table class="table table-hover">
                    <tr>
                        <th>Order</th>
                        <th>Customer</th>
                    </tr>
                    <tr data-ng-repeat="queueItem in queueItems | orderBy: '-created' : true" data-ng-href="#">
                        <td>{{ $index + 1 }}</td>
                        <td>{{queueItem.user.displayName}}
                            <a ng-mouseover="quickviewWalkin(queueItem._id);" ng-click="quickviewWalkin(queueItem._id);"><span class="glyphicon glyphicon-info-sign pull-right" tooltip-placement="top" tooltip="{{(queueItem.created | date:'short') || 'N/A'}}"></span></a>
                        </td>
                    </tr>
                </table>
                <div class="alert alert-info text-center" data-ng-hide="!queueItems.$resolved || queueItems.length">
                    <span class="glyphicon glyphicon-exclamation-sign"/> Nothing in queue!
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h4>Quick View
                <div class="pull-right" ng-hide="!quickWalkin">
                    <a ng-click="editWalkin(quickWalkin._id)"><span class="glyphicon glyphicon-pencil pull-right" tooltip-placement="left" tooltip="Work on this!"></span></a>
                    <a ng-click="viewWalkin(quickWalkin._id)" ng-hide="!quickWalkin" data-toggle="modal" data-target="#WalkinView" style="margin-right: 8px;"><span class="glyphicon glyphicon-eye-open" tooltip-placement="top" tooltip="View"></span></a>
                </div>
            </h4>
            <hr/>
            <div class="col-md-6" style="font-size: 11.5px;" ng-hide="!quickWalkin">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="1">NetID:</label>
                        <div class="col-sm-9" id="1" style="margin-top: 8px;">{{quickWalkin.user.username || 'N/A'}}</div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="2">Name:</label>
                        <div class="col-sm-9" id="2" style="margin-top: 8px;">{{quickWalkin.user.displayName || 'N/A'}}</div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="3">Device Type:</label>
                        <div class="col-sm-9" id="3" style="margin-top: 8px;">{{quickWalkin.deviceCategory || 'N/A'}}</div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="4">Device info:</label>
                        <div class="col-sm-9" id="4" style="margin-top: 8px;" ng-show="quickWalkin.deviceType!='N/A'">{{quickWalkin.deviceType || 'N/A'}}</div>
                        <div class="col-sm-9" id="4" style="margin-top: 8px;" ng-show="quickWalkin.os!='N/A'">{{quickWalkin.os}}</div>
                    </div>
                </div>
                <div class="form-horizontal" ng-show="formData.otherDevice">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="5">Other info:</label>
                        <div class="col-sm-9" id="5" style="margin-top: 8px;">{{quickWalkin.otherDevice || 'N/A'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="font-size: 11.5px;" ng-hide="!quickWalkin">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="6">Problem:</label>
                        <div class="col-sm-9" id="6" style="margin-top: 8px;"><p style="height: 50px; overflow: auto;">{{quickWalkin.description || 'N/A'}}</p></div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info text-center" ng-show="!queueIquickWalkin" ng-hide="quickWalkin">
                <span class="glyphicon glyphicon-exclamation-sign"/> Please select in queue instance to view.
            </div>
        </div>

    <script type="text/ng-template" id="WalkinView.html">

    </script>
</section>
