<section>
    <div class="modal-header">
        <h2 class="modal-title">
            Send Email
            <span style="font-size:16px;"> to {{walkinInfo.user.username}}@emory.edu</span>
        </h2>
    </div>

    <div class="modal-body" style="overflow: auto;">
        <div class="form-group" style="text-align: left">
            <h4 class="control-label"><strong>Subject</strong></h4>
            <input type="text" class="form-control" ng-model="email.subject" placeholder="Enter subject of the email">
        </div>
        <div class="form-group" style="text-align: left">
            <h4 class="control-label"><strong>Body</strong></h4>
            Hello {{walkinInfo.user.displayName}},
            <textarea class="form-control" rows="8" data-ng-model="email.body" placeholder="Enter body of the email"></textarea>
            Thank you,<br>Student Technology Support Staff
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="accept(email)" ng-disabled="!email.subject || !email.body"><span class="glyphicon glyphicon-send"></span> Send</button>
        <button class="btn btn-default" ng-click="close()">Cancel</button>
    </div>
</section>
