<section data-ng-controller="WalkinsController" ng-init="homeRedirector(10);">
    <div class="alert alert-danger" role="alert" style="margin-top: 2em;">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        &nbsp;Our apologies. We are not able to accept your request.
    </div>
    <h1 style="margin-top: 2em;">Sorry, <br>we can only assist students who are currently enrolled at Emory.</h1>
    <h3 style="margin-top: 1em;">Thank you for visiting Student Technology Support.</h3>

    <p style="bottom: 0;right:20px;position: absolute;">You will be redirected in 10 seconds.</p>
</section>
