<section>
    <label class="control-label walkin-label" for="net-id">Are you currently enrolled as a student at Emory?</label>
    <h1 id="net-id" style="margin-top:2em;text-align: center;">{{formData.user.username}}</h1>

    <div class="formFunctions" style="margin-top:5em;text-align: center;">
        <a class="btn btn-lg btn-primary" ui-sref="createWalkin.info" style="width: 50%">Yes</a>
        <a class="btn btn-lg btn-danger" href="/#!/notSupported" style="width: 50%">No</a>
    </div>
</section>
