<section data-ng-controller="WalkinsController">
    <div class="page-header">
        <h1>New Walk-in Instance</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div id="field">
                    <div id="NetID" name="netid" class="form-group">
                        <label class="control-label" for="name">Please enter your Emory NetID (OPUS username):</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Enter NetID here" required>
                        </div>
                    </div>
                </div>

                <div id="formFunctions">
                    <div class="pull-left">
                        <button type="button" class="btn btn-default">Previous</button>
                    </div>

                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">Next</button>
                    </div>
                </div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
