<section data-ng-controller="WalkinNetidController">
    <div id="NetID" name="netid" class="form-group" ng-class="{'has-error' : $parent.$parent.error}">
        <label class="control-label walkin-label" for="net-id">Please enter your MyNetID (OPUS username):</label>
        <div class="inputs">
            <input type="text" id="net-id" class="form-control"
                   placeholder="Emory MyNetID" data-ng-model="formData.user.username"
                   style="font-size: 28px;height: 48px;" required>
        </div>
    </div>

    <div class="formFunctions" style="">
        <div class="pull-right">
            <a class="btn btn-primary" ng-click="validateNetID()">Next&emsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
        </div>
    </div>
</section>
