<section data-ng-controller="WalkinsController" ng-init="homeRedirector(5);">
    <div class="alert alert-success" role="alert" style="margin-top: 2em;">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        &nbsp;Walk in request submitted successfully!
    </div>
    <h1 style="margin-top: 2em;">The next available technician will serve you.</h1>
    <h3 style="margin-top: 1em;">Thank you for visiting Student Technology Support.</h3>

    <p style="bottom: 0;right:20px;position: absolute;">You will be redirected in 5 seconds.</p>
</section>
