<div class="col-md-3"></div>
<section data-ng-controller="WalkinsController" class="col-md-6 conatiner">
    <div class="page-header" style="text-align: center">
        <h1>New Walk-in Instance</h1>
    </div>

    <form id="walkin-form" ng-submit="createWalkin()">
        <div id="walkin-view" ui-view style="height: 300px"></div>
    </form>

    <pre class="hidden">{{ formData }}</pre>

    <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref=".netid"><span>1</span> NetID</a>
        <a ui-sref-active="active" ui-sref=".info"><span>2</span> Information</a>
        <a ui-sref-active="active" ui-sref=".device"><span>3</span> Device</a>
        <a ui-sref-active="active" ui-sref=".problem"><span>4</span> Problem</a>
        <a ui-sref-active="active" ui-sref=".review"><span>5</span> Review</a>
    </div>

    <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</section>
<div class="col-md-3"></div>
