<section>
    <div class="alert alert-success" role="alert" style="margin-top: 2em;">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        &nbsp;Walk in request submitted successfully!
    </div>
    <h1 style="margin-top: 2em;">Thank you for visiting<br>Student Technology Support.</h1>
    <p>The next available technician will serve you.</p>

    <p style="bottom: 0;position: absolute;">You will be redirected in 5 seconds.</p>
    <script type="application/javascript">setTimeout(function(){ window.location.href = '/#!/'; }, 5000);</script>
</section>
