<section class="container" data-ng-controller="WalkinProblemController">
    <div id="problem" name="problem" class="form-group" ng-class="{'has-error' : problemError}">
        <label class="control-label walkin-label" for="problem-">Please describe the problem you are having:</label>
        <div class="controls">
            <textarea rows="8" id="problem-" class="form-control" placeholder="Enter problem here" data-ng-model="formData.description" style="font-size: 28px;" required></textarea>
        </div>
    </div>
    <div class="formFunctions" style="">
        <div class="pull-left">
            <a class="btn btn-default" ui-sref="createWalkin.device"><span class="glyphicon glyphicon-circle-arrow-left"></span>&emsp;Previous</a>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" ng-click="validateProblem()">Next&emsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
        </div>
    </div>
</section>
