<section class="app-container">
  <div class="row content-container">
    <header ng-include="'/modules/technician/client/views/panel/header.client.view.html'" class="row content-container"></header>
    <div class="container-fluid" style="min-height: 97vh;">
      <div class="side-body padding-top">
        <div class="row no-margin-bottom" ui-view></div>
      </div>
    </div>
  </div>
</section>

<footer class="app-footer" style="position: absolute; bottom: 15px; padding: 0 3vw 0 7vw; width: 100vw;">
  <div class="wrapper">
    <span class="pull-right">v2.0 <a href="https://github.com/henryYHC/STS-Integrated-System"><i class="fa fa-code-fork"></i></a></span>
    Copyright &copy; 2015-2016 by Emory Student Tech Support.
  </div>
</footer>
