<section class="container" data-ng-controller="WalkinviewController"  ng-init="initWalkin()">
    <div>
        <h2>STS Technician Panel - Walk-in Edit<a href="/#!/admin/walkins-list" class="btn btn-sm btn-default pull-right">Back</a></h2><hr style="margin-top: 10px; margin-bottom: 10px"/>
    </div>
    <div class="container">
        <div class="col-md-12">
            <h3>
                Instance information
                <span class="label label-success" style="font-size: 13px; margin-left: 2.5em;" ng-show="walkin.isActive">Active</span>
                <span class="label label-danger" style="font-size: 13px; margin-left: 2.5em;" ng-show="!walkin.isActive">Inactive</span>
                <span class="label label-info" style="font-size: 13px; margin-left: 1em;">{{walkin.status}}</span>
                <div class="pull-right" >
                    <a ng-click="updateWalkin()"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                    <a ng-show="isAdmin" ng-click="deleteWalkin(walkin._id)"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </h3><hr/>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="instanceId">Instance ID:</label>
                        <div class="col-sm-9" id="instanceId" style="margin-top: 8px;">{{walkin._id}}</div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="deviceT">Device Type:</label>
                        <div class="col-sm-9" id="deviceT" style="margin-top: 8px;">
                            <div id="deviceType-display" ng-show="!editDeviceType">
                                {{walkin.deviceCategory}}
                                <a ng-click="editDeviceType=!editDeviceType;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="deviceType-edit" ng-show="editDeviceType" ng-init="initDeviceType();">
                                <select id="deviceT" class="form-control" data-ng-model="walkin.deviceCategory" ng-change="editDeviceType=!editDeviceType;">
                                    <option ng-repeat="option in deviceTypeOptions" value="{{option}}" ng-selected="option == walkin.deviceCategory;">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" ng-show="walkin.deviceCategory!='Other';">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="deviceI">Device info:</label>

                        <div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.deviceCategory!='Other' && (walkin.deviceCategory == 'Gaming System' || walkin.deviceCategory == 'TV/Media Device')">
                            <div id="deviceInfo-display" ng-show="!editDeviceInfo">
                                {{walkin.deviceType}}
                                <a ng-click="editDeviceInfo=!editDeviceInfo;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="deviceInfo-edit" ng-show="editDeviceInfo" ng-init="initDeviceInfo();">
                                <select id="deviceI" class="form-control" data-ng-model="walkin.deviceType" ng-change="editDeviceInfo=!editDeviceInfo; updateDevice();">
                                    <option ng-repeat="option in deviceInfoOptions" value="{{option}}" ng-selected="option == walkin.deviceType;">{{option}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.deviceCategory!='Other' && (walkin.deviceCategory == 'Computer' || walkin.deviceCategory == 'Phone/Tablet')">
                            <div id="deviceOS-display" ng-show="!editDeviceOS">
                                {{walkin.os}}
                                <a ng-click="editDeviceOS=!editDeviceOS;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="deviceOS-edit" ng-show="editDeviceOS" ng-init="initDeviceOS();">
                                <select id="deviceI" class="form-control" data-ng-model="walkin.os" ng-change="editDeviceOS=!editDeviceOS; updateDevice();">
                                    <option ng-repeat="option in deviceOSOptions" value="{{option}}" ng-selected="option == walkin.os;">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" ng-show="walkin.deviceCategory=='Other' || walkin.deviceType == 'Other' || walkin.os == 'Other'">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="other">Other info:</label>
                        <div class="col-sm-9" id="other" style="margin-top: 8px;">
                            <div id="other-display" ng-show="!editDeviceOther">
                                {{walkin.otherDevice || 'None'}}
                                <a ng-click="editDeviceOther=!editDeviceOther;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="other-edit" ng-show="editDeviceOther">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="walkin.otherDevice">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="editDeviceOther=!editDeviceOther;updateDevice();">Done</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="problem">Problem description:</label>
                        <div class="col-sm-9" id="problem" style="margin-top: 8px;">
                            <div id="problem-display" ng-show="!editProblem">
                                <p style="height: 75px; overflow: auto;">{{walkin.description}}</p>
                                <a ng-click="editProblem=!editProblem;  "><span class="glyphicon glyphicon-pencil pull-right" style="margin-top: -75px;"></span></a>
                            </div>
                            <div id="problem-edit" ng-show="editProblem">
                                <textarea class="form-control" rows="2" data-ng-model="walkin.description"></textarea>
                                <button ng-click="editProblem=!editProblem;" class="btn btn-sm btn-primary pull-right">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="workNote">Work Note:</label>
                        <div class="col-sm-9" id="workNote" style="margin-top: 8px;">
                            <div id="workNote-display" ng-show="!editWorkNote">
                                <p style="height: 75px; overflow: auto;" data-ng-bind="walkin.workNote || 'None'"></p>
                                <a ng-click="editWorkNote=!editWorkNote;"><span class="glyphicon glyphicon-pencil pull-right" style="margin-top: -75px;"></span></a>
                            </div>
                            <div id="workNote-edit" ng-show="editWorkNote">
                                <textarea class="form-control" rows="2" data-ng-model="walkin.workNote"></textarea>
                                <button ng-click="editWorkNote=!editWorkNote;" class="btn btn-sm btn-primary pull-right">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="resolutionType-display">Resolution type:</label>
                        <div class="col-sm-9" id="resolutionT" style="margin-top: 8px;">
                            <div id="resolutionType-display" ng-show="!editResolutionType">
                                {{walkin.resolutionType}}
                                <a ng-click="editResolutionType=!editResolutionType;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="resolutionType-edit" ng-show="editResolutionType" ng-init="initResolutionType();">
                                <select id="resolutionT" class="form-control" data-ng-model="walkin.resolutionType" ng-change="editResolutionType=!editResolutionType;">
                                    <option ng-repeat="option in resolutionOptions" value="{{option}}" ng-selected="option == walkin.resolutionType;">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" ng-show="walkin.resolutionType == 'Other'">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="resolutionType-display">Resolution subject:</label>
                        <div class="col-sm-9" id="otherResolution" style="margin-top: 8px;">
                            <div id="otherResolution-display" ng-show="!editOtherResolution">
                                {{walkin.otherResolution || 'N/A'}}
                                <a ng-click="editOtherResolution=!editOtherResolution;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="otherResolution-edit" ng-show="editOtherResolution">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="walkin.otherResolution">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="editOtherResolution=!editOtherResolution;">Done</button>
                                    </span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left;">
                        <label class="col-sm-3 control-label" for="resolution">Resolution:</label>
                        <div class="col-sm-9" id="resolution" style="margin-top: 8px;">
                            <div id="resolution-display" ng-show="!editResolution">
                                <p style="height: 75px; overflow: auto;" data-ng-bind="walkin.resolution || 'None'"></p>
                                <a ng-click="editResolution=!editResolution;"><span class="glyphicon glyphicon-pencil pull-right" tooltip-placement="left" style="margin-top: -75px;" tooltip="Edit"></span></a>
                            </div>
                            <div id="resolution-edit" ng-show="editResolution">
                                <textarea class="form-control" rows="2" data-ng-model="walkin.resolution"></textarea>
                                <button ng-click="editResolution=!editResolution;" class="btn btn-sm btn-primary pull-right">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3>Customer information
                <div class="pull-right" >
                    <a ng-click="updateUser();"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                </div>
            </h3><hr/>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="netid">NetID:</label>
                        <div class="col-sm-9" id="netid" style="margin-top: 8px;">
                            {{walkin.user.username}}
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="name">Name:</label>
                        <div class="col-sm-9" id="name" style="margin-top: 8px;">
                            <div id="name-display" ng-show="!editName">
                                {{walkin.user.displayName}}
                                <a ng-click="editName=!editName;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="name-edit" ng-show="editName">
                                <div class="input-group">
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control col-sm-6" data-ng-model="walkin.user.firstName" style="width: 50%">
                                        <input type="text" class="form-control col-sm-6" data-ng-model="walkin.user.lastName" style="width: 50%">
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" type="button" ng-click="editName=!editName;updateName();">Done</button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="phone">Phone:</label>
                        <div class="col-sm-9" id="phone" style="margin-top: 8px;">
                            <div id="phone-display" ng-show="!editPhone">
                                {{walkin.user.phone}}
                                <a ng-click="editPhone=!editPhone;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="phone-edit" ng-show="editPhone">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="walkin.user.phone">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="editPhone=!editPhone;updatePhone();">Done</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label" for="location">Residence Hall:</label>
                        <div class="col-sm-9" id="location" style="margin-top: 8px;">
                            <div id="location-display" ng-show="!editLocation">
                                {{walkin.user.location}}
                                <a ng-click="editLocation=!editLocation;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                            </div>
                            <div id="location-edit" ng-show="editLocation" ng-init="initLocation();">
                                <select id="locationI" class="form-control" data-ng-model="walkin.user.location" ng-change="editLocation=!editLocation;">
                                    <option ng-repeat="option in locationOptions" value="{{option}}" ng-selected="option == walkin.user.location;">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
