<section class="container" data-ng-controller="AdminCheckinListingController" style="margin-bottom: 50px;">
    <div>
        <h2>STS Technician Panel - Check-in Listing<a href="/#!/admin" class="btn btn-sm btn-default pull-right">Back</a></h2><hr style="margin-top: 10px; margin-bottom: 10px"/>
    </div>
    <div class="container">
        <div class="col-md-12" ng-init="init()" style="margin-top: 0.5em;">
            <div class="btn-group" style="margin-left:2.5em;">
                <button class="btn btn-sm btn-primary" ng-click="month=1">January</button>
                <button class="btn btn-sm btn-primary" ng-click="month=2">February</button>
                <button class="btn btn-sm btn-primary" ng-click="month=3">March</button>
                <button class="btn btn-sm btn-primary" ng-click="month=4">April</button>
                <button class="btn btn-sm btn-primary" ng-click="month=5">May</button>
                <button class="btn btn-sm btn-primary" ng-click="month=6">June</button>
                <button class="btn btn-sm btn-primary" ng-click="month=7">July</button>
                <button class="btn btn-sm btn-primary" ng-click="month=8">August</button>
                <button class="btn btn-sm btn-primary" ng-click="month=9">September</button>
                <button class="btn btn-sm btn-primary" ng-click="month=10">October</button>
                <button class="btn btn-sm btn-primary" ng-click="month=11">November</button>
                <button class="btn btn-sm btn-primary" ng-click="month=12">December</button>
            </div>
            <h3>Check-ins in {{monthNames[month-1]}}, {{(currentDate.getMonth() >= month-1)? currentDate.getFullYear() : currentDate.getFullYear()-1}}</h3>
            <span class="pull-right">Count: {{checkins.length}}</span>
            <div>
                <table class="table table-hover" style="max-height: 80vh; overflow: auto; font-size: 12px;">
                    <tr>
                        <th>Action</th>
                        <th>CI #</th>
                        <th>Customer</th>
                        <th>NetID</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Created</th>
                    </tr>
                    <tr data-ng-repeat="checkin in checkins | orderBy: '-created'" data-ng-href="#">
                        <td><a href="#!/admin/checkins/{{checkin._id}}">View</a></td>
                        <td>CI {{checkin._id}}</td>
                        <td data-ng-bind="checkin.user.displayName"></td>
                        <td data-ng-bind="checkin.user.username"></td>
                        <td>{{checkin.deviceManufacturer}} {{checkin.deviceModel}}</td>
                        <td data-ng-bind="checkin.status"></td>
                        <td data-ng-bind="(checkin.updated | date:'short') || 'N/A'"></td>
                        <td data-ng-bind="(checkin.created | date:'short') || 'N/A'"></td>
                    </tr>
                </table>
                <div class="alert alert-info text-center" data-ng-hide="checkins.length > 0">
                    <span class="glyphicon glyphicon-exclamation-sign"/> No Checks ins!
                </div>
            </div>
        </div>
    </div>
</section>

<section data-ng-include="'/modules/admin/views/desk-tracker/desk-tracker.client.view.html'"></section>
