<section data-ng-controller="CheckinEditController">
	<div style="text-align: center;">
		<h1 style="font-size: 48px;">New Check-in Instance<a href="/#!/admin/walkins" class="btn btn-sm btn-default pull-right">Back</a></h2><hr style="margin-top: 10px; margin-bottom: 10px"/></h1>
	</div>

	<section data-ng-controller="WalkinviewController" ng-init="initTransferWalkinInfo()">
		<div class="col-md-12">
			<h3><strong>Customer information</strong>
				<div class="pull-right" >
					<a ng-click="updateUser();"><span class="glyphicon glyphicon-floppy-disk"></span></a>
				</div>
			</h3><hr/>
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="netid">NetID:</label>
						<div class="col-sm-9" id="netid" style="margin-top: 8px;">
							{{walkin.user.username}}
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="name">Name:</label>
						<div class="col-sm-9" id="name" style="margin-top: 8px;">
							<div id="name-display" ng-show="!editName">
								{{walkin.user.displayName}}
								<a ng-click="editName=!editName;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
							</div>
							<div id="name-edit" ng-show="editName">
								<div class="input-group">
									<div class="col-sm-10">
										<input type="text" class="form-control col-sm-6" ng-model="walkin.user.firstName" style="width: 50%">
										<input type="text" class="form-control col-sm-6" ng-model="walkin.user.lastName" style="width: 50%">
									</div>
									<div class="col-sm-2">
                                        <span class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" type="button" ng-click="editName=!editName;updateName();">Done</button>
                                    </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="phone">Phone:</label>
						<div class="col-sm-9" id="phone" style="margin-top: 8px;">
							<div id="phone-display" ng-show="!editPhone">
								{{walkin.user.phone}}
								<a ng-click="editPhone=!editPhone;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
							</div>
							<div id="phone-edit" ng-show="editPhone">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="walkin.user.phone">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="editPhone=!editPhone;updatePhone();">Done</button>
                                    </span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="location">Location:</label>
						<div class="col-sm-9" id="location" style="margin-top: 8px;">
							<div id="location-display" ng-show="!editLocation">
								{{walkin.user.location}}
								<a ng-click="editLocation=!editLocation;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
							</div>
							<div id="location-edit" ng-show="editLocation" ng-init="initLocation();">
								<select id="locationI" class="form-control" ng-model="walkin.user.location" ng-change="editLocation=!editLocation;">
									<option ng-repeat="option in locationOptions" value="{{option}}" ng-selected="option == walkin.user.location;">{{option}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<h3><strong>Walk-in information</strong>
				<div class="pull-right">
					<a ng-click="updateWalkin()"><span class="glyphicon glyphicon-floppy-disk"></span></a>
				</div>
			</h3><hr/>
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="instanceId">Walk-in ID:</label>
						<div class="col-sm-9" id="instanceId" style="margin-top: 8px;">{{walkin._id}}</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group" style="text-align: left;">
						<label class="col-sm-3 control-label" for="problem">Problem:</label>
						<div class="col-sm-9" id="problem" style="margin-top: 8px;">
							<div id="problem-display" ng-show="!editProblem">
								<p style="height: 50px; overflow: auto;">{{walkin.description}}</p>
								<a ng-click="editProblem=!editProblem;  "><span class="glyphicon glyphicon-pencil pull-right" style="margin-top: -80px;"></span></a>
							</div>
							<div id="problem-edit" ng-show="editProblem">
								<textarea class="form-control" rows="2" ng-model="walkin.description"></textarea>
								<button ng-click="editProblem=!editProblem;" class="btn btn-sm btn-primary pull-right">Done</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="deviceT">Device:</label>
						<div class="col-sm-9" id="deviceT" style="margin-top: 8px;">
							<div id="deviceType-display" ng-show="!editDeviceType">
								{{walkin.deviceCategory}}
								<a ng-click="editDeviceType=!editDeviceType;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
							</div>
							<div id="deviceType-edit" ng-show="editDeviceType" ng-init="initDeviceType();">
								<select id="deviceT" class="form-control" ng-model="walkin.deviceCategory" ng-change="editDeviceType=!editDeviceType;">
									<option ng-repeat="option in deviceTypeOptions" value="{{option}}" ng-selected="option == walkin.deviceCategory;">{{option}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-horizontal" ng-show="walkin.deviceCategory!='Other';">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="deviceI">Spec:</label>

						<div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.deviceCategory!='Other' && (walkin.deviceCategory == 'Gaming System' || walkin.deviceCategory == 'TV/Media Device')">
							<div id="deviceInfo-display" ng-show="!editDeviceInfo">
								{{walkin.deviceType}}
								<a ng-click="editDeviceInfo=!editDeviceInfo;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
							</div>
							<div id="deviceInfo-edit" ng-show="editDeviceInfo" ng-init="initDeviceInfo();">
								<select id="deviceI" class="form-control" ng-model="walkin.deviceType" ng-change="editDeviceInfo=!editDeviceInfo; updateDevice();">
									<option ng-repeat="option in deviceInfoOptions" value="{{option}}" ng-selected="option == walkin.deviceType;">{{option}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-9" id="deviceI" style="margin-top: 8px;" ng-show="walkin.deviceCategory!='Other' && (walkin.deviceCategory == 'Computer' || walkin.deviceCategory == 'Phone/Tablet')">
							<div id="deviceOS-display" ng-show="!editDeviceOS">
								{{walkin.os}}
								<a ng-click="editDeviceOS=!editDeviceOS;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
							</div>
							<div id="deviceOS-edit" ng-show="editDeviceOS" ng-init="initDeviceOS();">
								<select id="deviceI" class="form-control" ng-model="walkin.os" ng-change="editDeviceOS=!editDeviceOS; updateDevice();">
									<option ng-repeat="option in deviceOSOptions" value="{{option}}" ng-selected="option == walkin.os;">{{option}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-horizontal" ng-show="walkin.deviceCategory=='Other' || walkin.deviceType == 'Other' || walkin.os == 'Other'">
					<div class="form-group" style="text-align: left">
						<label class="col-sm-3 control-label" for="other">Other info:</label>
						<div class="col-sm-9" id="other" style="margin-top: 8px;">
							<div id="other-display" ng-show="!editDeviceOther">
								{{walkin.otherDevice || 'None'}}
								<a ng-click="editDeviceOther=!editDeviceOther;"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
							</div>
							<div id="other-edit" ng-show="editDeviceOther">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="walkin.otherDevice">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button" ng-click="editDeviceOther=!editDeviceOther;updateDevice();">Done</button>
										</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<form class="col-md-12">
		<h3><strong>Check-in information</strong></h3>
		<div class="form-group" style="text-align: left" ng-class="{'has-error' : error.preDiagnosticError}">
			<h4 class="control-label">Preliminary Diagnostic</h4>
			<textarea class="col-sm-offset-1 form-control" rows="4" ng-model="checkinInfo.preDiagnostic" placeholder="Enter preliminary diagnostic here" style="width: 80%;"></textarea>
		</div>
		<div class="form-group" style="text-align: left" ng-class="{'has-error' : error.suggestedActionError}">
			<h4 class="control-label">Suggested Actions</h4>
			<textarea class="col-sm-offset-1 form-control" rows="4" ng-model="checkinInfo.suggestedAction" placeholder="Enter suggested actions here" style="width: 80%;"></textarea>
		</div>
		<h4>Additional Device Information</h4>
		<div class="form-horizontal">
			<div class="col-sm-12" style="margin-bottom: 1em;">
				<div class="col-sm-6">
					<div class="form-group" style="text-align: left" ng-class="{'has-error' : error.manufacturerError}">
						<label class="col-sm-3 control-label" for="manufacturer">Manufacturer:</label>
						<div class="col-sm-9" style="margin-top: 4px;">
							<input type="text" id="manufacturer" class="form-control" placeholder="Enter device manufacturer here" ng-model="checkinInfo.deviceManufacturer" >
						</div>
					</div>
					<div class="form-group" style="text-align: left" ng-class="{'has-error' : error.modelError}">
						<label class="col-sm-3 control-label" for="model">Model:</label>
						<div class="col-sm-9" style="margin-top: 4px;">
							<input type="text" id="model" class="form-control" placeholder="Enter device model here" ng-model="checkinInfo.deviceModel" >
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" style="text-align: left" ng-class="{'has-error' : error.usernameError}">
						<label class="col-sm-3 control-label" for="model">Username:</label>
						<div class="col-sm-9" style="margin-top: 4px;">
							<input type="text" id="user" class="form-control" placeholder="Enter device info(username) here" ng-model="checkinInfo.deviceInfoUser" >
						</div>
					</div>
					<div class="form-group" style="text-align: left" ng-class="{'has-error' : error.passwordError}">
						<label class="col-sm-3 control-label" for="pwd">Password:</label>
						<div class="col-sm-9" style="margin-top: 4px;">
							<input type="text" id="pwd" class="form-control" placeholder="Enter device info(pwd) here" ng-model="checkinInfo.deviceInfoPwd" >
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" style="text-align: left" ng-show="walkinInfo.os.indexOf('Windows')>=0" ng-class="{'has-error' : error.osError}">
				<label class="col-sm-2 control-label" for="os">Info(OS):</label>
				<div id="os" class="col-sm-9" style="margin-top: 4px;">
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['32bit']"> 32bit &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['64bit']"> 64bit &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['Starter']"> Starter &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['Home Basic']"> Home Basic &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['Home Premium']"> Home Premium &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['Professional']"> Professional &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['Ultimate']"> Ultimate &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.deviceInfoOSAux['Other']"> Other &emsp;</label>
				</div>
			</div>
			<div class="form-group" style="text-align: left" ng-class="{'has-error' : error.itemError}">
				<label class="col-sm-2 control-label" for="item">Item Received:</label>
				<div id="item" class="col-sm-9" style="margin-top: 4px;">
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['Laptop']"> Laptop &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['Desktop']"> Desktop &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['Power Cord']"> Power Cord &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['Internal HDD']"> Internal HDD &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['External HDD']"> External HDD &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['HDD Cable']"> HDD Cable &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['USB drive/Disc']"> USB drive/Disc &emsp;</label>
					<label><input type="checkbox" ng-model="checkinInfo.itemReceivedAux['Other']"> Other &emsp;</label>
				</div>
			</div>
			<div class="form-group" style="text-align: left" ng-show="checkinInfo.itemReceivedAux['Other']" ng-class="{'has-error' : error.otherItemError}">
				<label class="col-sm-2 control-label" for="otherItem">Other Item:</label>
				<div class="col-sm-9" style="margin-top: 4px;">
					<input type="text" id="otherItem" class="form-control" placeholder="Enter other item received here" ng-model="checkinInfo.otherItem">
				</div>
			</div>

			<div class="form-group" style="text-align: left; margin-top: 1em;">
				<label class="col-sm-2 control-label" for="reformat">Reformat?</label>
				<div id="reformat" class="col-sm-9" style="margin-top: 4px;">
					<label><input type="radio" name="reformatConsent" ng-model="checkinInfo.reformatConsent" ng-value="true">Yes</label>&emsp;
					<label><input type="radio" name="reformatConsent" ng-model="checkinInfo.reformatConsent" ng-value="false">No</label>&emsp;
				</div>
			</div>
		</div>

		<div class="text-center text-danger" style="margin-bottom: 4em;height: 16px;width: 100%;">
			<strong ng-show="error">{{error.message || 'Missing  required information' }}</strong>
		</div>
		<span class="pull-right">
			<button class="btn btn-lg btn-primary" ng-click="createCheckin()">Update</button>
			<a href="/#!/admin/walkins" class="btn btn-lg btn-default pull-right">Back</a>
		</span>
	</form>
</section>
