<section class="container" data-ng-controller="AdminCheckinQueueController">
	<div>
		<h2>STS Technician Panel - Check-in<a href="/#!/admin" class="btn btn-sm btn-default pull-right">Back</a></h2><hr style="margin-top: 10px; margin-bottom: 10px"/>
	</div>
	<div class="container">
		<div class="col-md-3" >
			<h4>Work in Progress
				<a class="btn btn-xs btn-info pull-right" ng-click="initQueues()" style="margin-top: -2px;"><span class="glyphicon glyphicon-refresh"></span></a>
			</h4>
			<div style="height: 30vh; overflow: auto; margin-top: 1em;" ng-init="initWorkQueue()">
				<table class="table table-hover" data-ng-show="workQueueItems.length">
					<tr>
						<th>Order</th> <th>Customer</th>
					</tr>
					<tr data-ng-repeat="workQueueItem in workQueueItems" ng-click="viewCheckin(workQueueItem);">
						<td>
							{{ $index + 1 }}
							<span class="glyphicon glyphicon-wrench pull-right" tooltip-placement="top" tooltip="Work in progress" ng-show="workQueueItem.status=='Work in progress'"></span>
							<span class="glyphicon glyphicon-eye-open pull-right" tooltip-placement="top" tooltip="Verification pending" ng-show="workQueueItem.status=='Verification pending'"></span>
						</td>
						<td>{{workQueueItem.user.displayName}}<span class="glyphicon glyphicon-info-sign pull-right" tooltip-placement="top" tooltip="{{(workQueueItem.created | date:'short') || 'N/A'}}"></span></td>
					</tr>
				</table>
				<div class="alert alert-info text-center" data-ng-hide="workQueueItems.length">
					<span class="glyphicon glyphicon-exclamation-sign"/> Nothing in queue!
				</div>
			</div>
			<h4>Pending</h4>
			<div style="height: 30vh; overflow: auto; margin-top: 1em;">
				<table class="table table-hover" data-ng-show="pendingQueueItems.length" ng-init="initPendingQueue()">
					<tr>
						<th>Order</th> <th>Customer</th>
					</tr>
					<tr data-ng-repeat="pendingQueueItem in pendingQueueItems" ng-click="viewCheckin(pendingQueueItem);">
						<td>
							{{ $index + 1 }}
							<span class="glyphicon glyphicon-hourglass pull-right" tooltip-placement="top" tooltip="User action pending" ng-show="pendingQueueItem.status=='User action pending'"></span>
							<span class="glyphicon glyphicon-ok pull-right" tooltip-placement="top" tooltip="Checkout pending" ng-show="pendingQueueItem.status=='Checkout pending'"></span>
						</td>
						<td>{{pendingQueueItem.user.displayName}}<span class="glyphicon glyphicon-info-sign pull-right" tooltip-placement="top" tooltip="{{(pendingQueueItem.created | date:'short') || 'N/A'}}"></span></td>
					</tr>
				</table>
				<div class="alert alert-info text-center" data-ng-hide="pendingQueueItems.length">
					<span class="glyphicon glyphicon-exclamation-sign"/> Nothing in queue!
				</div>
			</div>
		</div>
		<div class="col-md-9" style="height:60vh;">
			<h4>
				Check-in Information &emsp;
				<span class="label label-success" style="font-size: 12px;" ng-show="checkin && checkin.status=='Work in progress'">Work in progress</span>
				<span class="label label-info" style="font-size: 12px;" ng-show="checkin && checkin.status=='User action pending'">User action pending</span>
				<span class="label label-warning" style="font-size: 12px;" ng-show="checkin && checkin.status=='Verification pending'">Verification pending</span>
				<span class="label label-primary" style="font-size: 12px;" ng-show="checkin && checkin.status=='Checkout pending'">Checkout pending</span>

				<div class="pull-right" ng-hide="!checkin" style="margin-top: -16px;">
					<!--<buton class="btn btn-sm btn-info">Edit Check-in</buton>-->
					<button class="dropdown btn btn-sm btn-primary" dropdown dropdown-toggle on-toggle="toggled(open)">
						<span class="dropdown-toggle">Change Status <b class="caret"></b></span>
						<ul class="dropdown-menu">
							<li><a ng-show="checkin.status=='Work in progress'" 	ng-click="setStatus('User action pending')">Pending</a></li>
							<li><a ng-show="checkin.status=='User action pending'" 	ng-click="setStatus('Work in progress')">In Progress</a></li>
							<li><a ng-show="checkin.status=='Work in progress'" 	ng-click="setStatus('Verification pending')">Completed</a></li>
							<li><a ng-show="checkin.status=='Verification pending'&&technician.username != checkin.completionTechnician.username"
								   ng-click="setStatus('Checkout pending')">Verified</a></li>
							<li><a ng-show="checkin.status=='Checkout pending'"		ng-click="setStatus('Completed')">Checkout</a></li>
						</ul>
					</button>
				</div>
			</h4><hr style="margin-top: 10px; margin-bottom: 10px;">
			<div class="col-sm-5" ng-show="checkin" justified="true">
				<tabset type="pills" class="navbar-warning">
					<tab heading="User">
						<div class="col-sm-6">
							<div class="form-group" style="text-align: left; margin-top: 1em;">
								<label for="netid">NetID:</label>
								<div id="netid" style="margin-top: 8px;">{{checkin.user.username || 'N/A'}}</div>
							</div>
							<div class="form-group" style="text-align: left;">
								<label for="name">Name:</label>
								<div id="name" style="margin-top: 8px;">{{checkin.user.displayName || 'N/A'}}</div>
							</div>
							<div class="form-group" style="text-align: left;">
								<label for="phone">Phone:</label>
								<div id="phone" style="margin-top: 8px;">{{checkin.user.phone || 'N/A'}}</div>
							</div>
							<div class="form-group" style="text-align: left;">
								<label for="location">Location:</label>
								<div id="location" style="margin-top: 8px;">{{checkin.user.location || 'N/A'}}</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" style="text-align: left; margin-top: 1em;">
								<label for="username">Username:</label>
								<div id="username" style="margin-top: 8px;">{{checkin.deviceInfoUser|| 'N/A'}}</div>
							</div>
							<div class="form-group" style="text-align: left;">
								<label for="password">Password:</label>
								<div id="password" style="margin-top: 8px;">{{checkin.deviceInfoPwd || 'N/A'}}</div>
							</div>
						</div>
					</tab>
					<tab heading="Device">
						<div class="col-sm-12">
							<div class="col-sm-12" style="padding-left: 0px;">
								<div class="form-group col-sm-6" style="text-align: left; margin-top: 1em; padding-left: 0px;">
									<label for="device">Device:</label>
									<div id="device" style="margin-top: 8px;">
										{{checkin.walkin.deviceCategory || 'N/A'}}
									</div>
								</div>
								<div class="col-sm-6"><button class="btn btn-sm btn-info pull-right" ng-click="reprintLabel();">Reprint Label</button></div>
							</div>
							<div class="form-group" style="text-align: left;">
								<label for="spec">Spec:</label>
								<div id="spec" style="margin-top: 8px;">{{checkin.deviceManufacturer}} {{checkin.deviceModel}}</div>
							</div>
							<div class="form-group" style="text-align: left;">
								<label for="OSInfo">OS Info:</label>
								<div id="OSInfo" style="margin-top: 8px;">
									{{checkin.walkin.os}} ({{checkin.deviceInfoOS.join() || 'N/A'}})
								</div>
							</div>
							<div class="col-sm-12" style="padding-left: 0px;">
								<div class="form-group col-sm-6" style="text-align: left; padding-left: 0px;">
									<label for="items">Item Received: </label>
									<div id="items" style="margin-top: 8px;">{{checkin.itemReceived.join() || 'N/A'}}</div>
								</div>
								<div class="col-sm-6"><button class="btn btn-xs btn-primary pull-right" ng-click="editItemReceived();" style="margin-top: 0px;">Add</button></div>
							</div>
							<div class="form-group" style="text-align: left;" ng-show="checkin.itemReceived.indexOf('Other')>=0">
								<label for="otherItem">Other item:</label>
								<div id="otherItem" style="margin-top: 8px;">{{checkin.otherItem || 'N/A'}}</div>
							</div>
						</div>
					</tab>
					<tab heading="Tasks" active="true">
						<div class="col-sm-6">
							<div class="form-group" style="text-align: left; margin-top: 1em;">
								<label for="reformat">Reformat?:</label>
								<p id="reformat" style="color: red;">{{checkin.reformatConsent.toString().toUpperCase() || 'N/A'}}</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" style="text-align: left; margin-top: 1em;">
								<label for="walkinId">Walk-in Id:</label>
								<div id="walkinId">
									{{checkin.walkin._id || 'N/A'}}
									(<a ng-show="checkin.walkin" ng-click="viewWalkin(checkin.walkin._id)">View</a>)
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group" style="text-align: left;">
								<label for="suggestedActions">Suggested Actions:</label>
								<p id="suggestedActions">{{checkin.suggestedAction || 'N/A'}}</p>
							</div>
							<div class="form-group" style="text-align: left;">
								<label for="preDiagnostic">Preliminary Diagnostics:</label>
								<p id="preDiagnostic">{{checkin.preDiagnostic || 'N/A'}}</p>
							</div>
						</div>
					</tab>
					<tab heading="Template" ng-init="initTemplates()">
						<div class="input-group">
							<select id="template" class="form-control" ng-model="template" style="margin: 1em 0 1em;">
								<option value="" disabled selected="selected">Select a template</option>
								<option ng-repeat="temp in templates" valeu="{{temp.name}}">{{temp.name}}</option>
							</select>
      							<span class="input-group-btn">
									<button class="btn btn-sm btn-warning" ng-disabled="template == checkin.templateApplied" ng-click="applyTemplate(template);">Apply</button>
      							</span>
						</div>

						<ul class="list-group" ng-show="template" style="height: 40vh;overflow: auto;">
							<li class="list-group-item" style="margin: 5px 0 5px;" ng-repeat="item in templates[template].items">
								{{item}}
									<span class="pull-right" ng-switch="findLogWithAttr('description', item)">
										<span ng-switch-default class="label label-success">Done</span>
										<span ng-switch-when="-1" class="btn btn-xs btn-primary" ng-click="logService(item, 'Normal');" style="margin: 0 0 0; padding: 1px 5px 1px 5px;">log</span>
									</span>
							</li>
						</ul>
					</tab>
				</tabset>
			</div>
			<div class="col-sm-7" ng-show="checkin">
				<h4>Service Worksheet</h4>
				<div class="panel panel-default">
					<div class="panel-body" style="height:40vh; overflow: auto;">
						<div ng-repeat="log in checkin.serviceLog">
							<span ng-style="setLogStyle(log.type)">
								<span ng-show="log.type=='Important'">***</span>{{log.description}}
							</span>
							<span class="pull-right">
								<span class="glyphicon glyphicon-user" tooltip-placement="top" tooltip="{{log.createdBy.displayName}}"></span>&nbsp;
								<span class="glyphicon glyphicon-time" tooltip-placement="top" tooltip="{{log.createdAt | date : 'short' }}"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Log work done here" ng-model="serviceLog">
					<span class="input-group-btn">
        				<button class="btn btn-sm btn-success" type="button" style="margin-top: -2px;margin-right: 2px;" ng-click="logService(serviceLog, 'Normal');">LOG</button>
						<button class="dropdown btn btn-sm btn-success" dropdown dropdown-toggle on-toggle="toggled(open)" style="margin-top: -2px;">
							<span class="dropdown-toggle"><b class="caret"></b></span>
							<ul class="dropdown-menu" style="min-width: 0px; margin: 2px -55px 0;">
								<li><a ng-click="logService(serviceLog, 'Important');">Important</a></li>
								<li><a ng-click="logService(serviceLog, 'Note');">Note</a></li>
							</ul>
						</button>
      				</span>
				</div>
			</div>

			<div class="alert alert-info text-center" ng-hide="checkin">
				<span class="glyphicon glyphicon-exclamation-sign"/> Please click any queue item to view
			</div>
		</div>
</section>

<section data-ng-include="'/modules/admin/views/desk-tracker/desk-tracker.client.view.html'"></section>
