<section>
	<div class="modal-header">
		<h2 class="modal-title" style="font-size: 16px;">
			<strong>Receipt for Customer Pickup</strong>
		</h2>
	</div>
	<hr/>
	<div id="agreement" class="modal-body" style="overflow: auto; font-size: 14px;">
		<p align="justify">By putting down my signature below, I have acknowledged that I have received my computer and all other items in good order.</p>

		<p align="justify" style="color: red;">By clicking the "Sign" button, you agree with your digital signature to the terms and conditions stated above.</p>

		<div class="form-group">
			<label class="col-sm-2" for="signature">Signature:</label>
			<div class="col-sm-10"><input type="text" class="form-control"  id="signature" placeholder="{{walkinInfo}}" ng-model="signature" style="margin-top: -3px"></div>
		</div>&emsp;
		<button id="Sign" class=" btn btn-primary pull-right" ng-click="accept(signature)" ng-disabled="!signature">Sign</button>
	</div>
	<div class="modal-footer" style="color: blue">
		Please scroll to the bottom to accept.
		<button class="btn btn-default" ng-click="close()">Cancel</button>
	</div>
</section>
