<section class="container" data-ng-controller="AdminCheckinListingController" style="margin-bottom: 50px;">
    <div>
        <h2>STS Technician Panel - Check-in Listing<a href="/#!/admin" class="btn btn-sm btn-default pull-right">Back</a></h2><hr style="margin-top: 10px; margin-bottom: 10px"/>
    </div>
    <div class="container" ng-init="init();">
        <div class="col-md-12" style="margin-top: 0.5em;">
            <div class="col-md-3">
                <div class="form-horizontal form-group">
                    <label class="col-sm-3" for="query_yr" style="font-size: 14px; margin-top: 15px;">Year: </label>
                    <div class="col-sm-9">
                        <select id="query_yr" class="form-control" data-ng-model="year" style="margin: 10px 1px;">
                            <option data-ng-repeat="yr in metadata.years" value="{{yr}}" selected="yr==year">{{yr}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" ng-click="month=1">Jan.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=2">Feb.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=3">Mar.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=4">Apr.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=5">May.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=6">Jun.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=7">Jul.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=8">Aug.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=9">Sep.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=10">Oct.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=11">Nov.</button>
                    <button class="btn btn-sm btn-primary" ng-click="month=12">Dec.</button>
                </div>
            </div>

            <h3 style="margin-top: 3em;">
                Check-ins in {{monthNames[month-1]}}, {{year}}
            </h3>
            <span class="pull-right">Count: {{checkins.length}}</span>
            <div>
                <table class="table table-hover" style="max-height: 80vh; overflow: auto; font-size: 12px;">
                    <tr>
                        <th>Action</th>
                        <th>CI #</th>
                        <th>Customer</th>
                        <th>NetID</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Created</th>
                    </tr>
                    <tr data-ng-repeat="checkin in checkins | orderBy: '-created'" data-ng-href="#">
                        <td><a href="#!/admin/checkins/{{checkin._id}}">View</a></td>
                        <td>CI {{checkin._id}}</td>
                        <td data-ng-bind="checkin.user.displayName"></td>
                        <td data-ng-bind="checkin.user.username"></td>
                        <td>{{checkin.deviceManufacturer}} {{checkin.deviceModel}}</td>
                        <td data-ng-bind="checkin.status"></td>
                        <td data-ng-bind="(checkin.updated | date:'short') || 'N/A'"></td>
                        <td data-ng-bind="(checkin.created | date:'short') || 'N/A'"></td>
                    </tr>
                </table>
                <div class="alert alert-info text-center" data-ng-hide="checkins.length > 0">
                    <span class="glyphicon glyphicon-exclamation-sign"/> No Checks ins!
                </div>
            </div>
        </div>
    </div>
</section>

<section data-ng-include="'/modules/admin/views/desk-tracker/desk-tracker.client.view.html'"></section>
