<section class="home-container">
  <header class="walkin-header">
    <img class="walkin-image" src="static/img/walkin-header.png" ui-sref="customer.home">
  </header>

  <div class="invalid-user-message">
    <i class="fa fa-check-circle-o fa-5x" style="color:green;"></i>
    <p style="font-size: 28px; margin-top: 1em; margin-bottom: 1em;">Walk-in request submitted successfully!</p>
    <p style="font-size: 18px; text-align: justify; margin-left: 5em; margin-right: 5em; margin-bottom: 3em;">
      Please take a seat. The next available technician will serve you.
      Thank you for visiting Student Technology Support.</p>
  </div>
</section>

<script type="text/javascript">
  setTimeout(function(){ window.location.href = '/customer/home'; }, 6500);
</script>
