<section ng-controller="CustomerWalkinDeviceController" ng-init="status.error= undefined;">
  <button class="btn btn-md btn-default walkin-header-back-btn" ui-sref="customer.walkin.device-category">
    <i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Back
  </button>
  <div class="walkin-list-content">
    <p class="walkin-field-label">Please select a specification:</p>
    <button ng-repeat="spec in setting.device_specs" class="btn btn-block btn-primary"
      ng-click="selectSpec(spec)">{{spec}}</button>
  </div>
</section>
