<section ng-controller="WalkinTransferController" ng-init="init()">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="title">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;Transfer Information
          </div>
        </div>
        <span class="pull-right" style="font-size: 18px;">
          <button class="btn btn-sm btn-primary" ng-click="viewWalkin()">
            <i class="fa fa-eye"></i>&nbsp;&nbsp;View Walk-in
          </button>
        </span>
      </div>
      <div class="card-body">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

      </div>
    </div>
  </div>
</section>
